/* ============================================
   BASE STYLES — FONTS, GLOBAL, COLORS
============================================ */

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600;700&family=Spectral+SC:wght@400;600&display=swap');

html, body {
  overscroll-behavior-y: none;
  overscroll-behavior-x: none;
  margin: 0;
  font-family: 'Spectral SC', serif;
  background: #0f0f17;
  color: #f5f5f7;
  margin: 0;
  padding-top: 40px; /* space for fixed header */
}

h1, h2, h3, button {
  font-family: 'Cinzel', serif;
}

body {
  background-image: url('assets/battlecry.jpeg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}