.wrapper {
  /*width: 100vw;  full viewport width */
  /*height: 100vh;  full viewport height */
  background-size: cover; /* scales image to fill */
  background-image: url('../assets/blacksmith.jpg');
  background-position: center;
  background-repeat: no-repeat;
}