.container {
  padding: 0px;
}

.shop-item {
  background: #222;
  padding: 12px;
  margin-bottom: 12px;
  border-radius: 8px;
  border: 1px solid #444;
}

.shop-weapon-name {
  font-size: 1.2rem;
  color: #ffd36b;
}