.shop-item {
  background: #222;
  padding: 6px;
  border-radius: 4px;
  border: 1px solid #444;
}

.shop-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.weapon-name {
  font-size: 0.95rem;
  font-weight: bold;
  max-width: 70%;
  overflow-wrap: break-word;
}

.buy-btn {
  cursor: pointer;
  font-size: 0.9rem;
  white-space: nowrap;
  width: 20%;
}